# assuming
#	* there is a upnp-things user this should be run as
#	* upnp-things files reside in upnp-things mounted under /mnt/home1
# as root,
# define, notice, start and enable the systemd system upnp-things.service
#	cp /home/upnp-things/upnp-things.service /etc/systemd/system/
#	systemctl daemon-reload
#	systemctl start upnp-things
#	systemctl enable upnp-things
# follow journaled output
#	journalctl -f -u upnp-things

[Unit]
Description=upnp-things
Documentation=https://www.github.com/rtyle/upnp-things
After=network.target
RequiresMountsFor=/mnt/home1

[Service]
Type=simple
User=upnp-things
ExecStart=/usr/bin/node /mnt/home1/upnp-things/index.js --legrand-log=warn --upnp-log=warn
Restart=on-failure

[Install]
WantedBy=multi-user.target
